<!DOCTYPE html>
<html>
  <head>
    <title>ThePeople</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
    <%= form_tag(people_path, :method => "get", id: "search-form", class:"navbar-form navbar-left") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search People", class: "form-control" %>
      <%= submit_tag "Search", :name => nil,class: "btn btn-default" %>
    <% end %>
    <br><br
    
    <%= yield %>
  </body>
</html>
