<br><br>

<div class="container">
<u><%= link_to "Back", root_path%></u>
</div><br>

<div class="container w3-card">
  <%= form_for(@person) do |f|%>
    <h1>Edit: <%= @person.name%></h1>
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control"%>

    <%= f.label :age%>
    <%= f.text_field :age, class: "form-control"%>

    <%= f.label :height%>
    <%= f.text_field :height, class: "form-control"%>

    <%= f.label :gender%>
    <%= f.select :gender, options_for_select(["male","female"]), {}, class: "form-control" %>

    <%= f.label :bio%>
    <%= f.text_area :bio, class: "form-control"%><br>
  
    <%= f.label :fab%>
    <%= f.text_area :fab, class: "form-control"%><br>

    <%= f.submit 'Save Changes', class: "btn btn-primary"%>
<%end%>
  
  <% if @person.gender == "male"%>
  <!--SHOW MALE-->
  <%= render 'fabs/male'%>
  <% elsif @person.gender == "female"%>
  <!--SHOW FEMALE-->
  <%= render 'fabs/female'%>
  <%else%>
  <%=render 'show'%>
  <%end%>
</div>